<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/styleDetail.css" rel="stylesheet">
    <title>Product Detail</title>
</head>

<body>
    <div class="alinear">
        <div>
            <img class="buzo" src="\images\buzos-4.jpg">
        </div>


        <div>
            <div>
                <div>
                    <h1>Chukkas de cuero esparre para hombre</h1>
                    <p>Producto Nuevo<span> | 847 vendidos</span></p>
                </div>
            
                <div>
                    <span>$16999 - </span>
                    <a href="">Formas de pago</a>
                </div>
            </div>
        
            <div>
                <h2>Detalles del producto</h2>
        
                <div>
                    <ul class="list-detail">
                        <li><p>Parte superior de cuero</p></li>
                        <li><p>Suela de goma</p></li>
                        <li><p>Forros textiles</p></li>
                        <li><p>Suela de goma</p></li>
                        <li><p>Letras de Lacoste en la lengüeta</p></li>
                        <li><p>marca de cocodrilo de metal tonal en el talón</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div>
        <h2>Otros productos que pueden interesarte</h2>
        
        <div class="article">
            <article>
                <img class="zapas" src="/images/calzado.jpg" alt="calzado.jpg">
                <p>$24999</p>
                <p>Mochila de lona con monograma The Blend para hombre</p>
            </article>
        
            <article>
                <img class="zapas" src="/images/remera_ind.jpg" alt="vestimenta.jpg">
                <p>$7499</p>
                <p>Remera de hombre Lacoste SPORT en jersey transpirable de cocodrilo con estampado 3D</p>
            </article>    
        </div>
    </div>
</body>
</html>