<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/styleCart.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f9a3d7540.js" crossorigin="anonymous"></script>
    <title>ProductCart</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
<% if(typeof email !== 'undefined') {%>
    <main>
        
        <section class="titular">
            <div>
                <h3 class="titular">BOLSA DE COMPRAS</h3><br>
            </div>
        </section>
        
        <section class="bolsaDeCompras">
            <section class="carrito">
                
                <div class="imagenA">
                    <img src="\images\buzos-4.jpg">
                </div>
                <div class="cajaDescripciones">
                    <p class="descripcion">BUZO NEGRO TALLE XL</p>
                    <p class="cancel">X</p>
                    <p class=" precio">$10000</p>
                </div>

            </section>

            <section class="carrito">
                
                <div class="imagenA">
                    <img src="\images\buzos-4.jpg">
                </div>
                <div class="cajaDescripciones">
                    <p class="descripcion">BUZO NEGRO TALLE XL</p>
                    <p class="cancel">X</p>
                    <p class=" precio">$10000</p>
                </div>

            </section>
        </section>

        <section class="pago">
            <div>
                <h4 class="titular"> SUBTOTAL:</h4>
            </div>
            <div>
                <h4 class="titular">$20000</h4>
            </div>
            <div>
                <h4 class="titular">ENVIO:</h4>
            </div>
            <div>
                <h4 class="titular">$1000</h4>
            </div>
            <div>
                <h4 class="titular">TOTAL:</h4>
            </div>
            <div>
                <h4 class="titular">$21000</h4>
            </div>
        </section>

    </main>
<% } %>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>