<header>
    <section>
        <div  class="burger-menu">
                <i class="fas fa-bars"></i>
        </div>
        <%if (numero == 0) {%>
            <%=titulos[0]%>
        <%} %>
        <%if (numero == 1) {%>
            <%=titulos[1]%>
        <%} %>
        <%if (numero == 2) {%>
            <%=titulos[2]%>
        <%} %>
    </section>
    <section>
        <div id="logo">
            <i class="fa-solid fa-shirt"></i>
        </div>

    </section>
</header>