
body{
	background: #131313;
    display: flex;
    flex-direction: column;
    min-height: 400px;
	margin: 0;
	width: 100%;
}

h2.title{
	color: #6249c8;
	line-height: 30px;
    margin: 0 0 3px;
    padding: 10px 0;
    text-align: center;
	font-size: 30px;
}


section.cotentForm{
	text-align: center;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	border: 2px solid #6249c8;
  	border-radius: 20px;
}

.FormLogin{
	width: 90%;
	color: #a1a1a1;
	
}

input.inputForms{
	color: white;
	width: 60%;
	padding: 20px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
    border-bottom: 2px solid #6249c8;
	background: none;
	transition: ease-in-out, width .35s ease-in-out;
}



input.inputForms:focus-visible{
	
	outline: none;
	border-bottom: 2px solid #6249c8;
	width: 90%;
}

input:valid {
	color: #4CAF50;
  }

  input:invalid {
	color: red;
  }





.form-flex{
	display: flex;
	color: white;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 10%;
	margin-bottom: 10%;
	justify-content: space-between;
}

input:checked + label {
	color: #4CAF50;
	
  }


div#recordarPass{
	display: flex;
	width: 40%;
	margin-right: 5%;
	align-items: center;
    flex-direction: row;
}

.bottonSubmit{
  background-color: #131313; /* Green */
  border: 2px solid #4CAF50;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  transition-duration: 0.4s;
  width: 50%;
 
}
.bottonSubmit:hover {
	background-color: #4CAF50; /* Green */
	color: white;
	width: 50%;
  }

