body{
    margin: 0%;
    background-color: #131313;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    border-bottom: #666666 solid 1px;
}

header section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

div.burger-menu{
    width: 30%;
}

div.burger-menu i{
    background-color: #131313;;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

#logo img{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 0px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section.titular{
    width: 100%;
    display: flex;
    justify-content: center;
}

main section div.titular{
    width: 50%;
    border-bottom: 0px;
}

main h3.titular{
    display: block;
    max-width: 60.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    color: #FFFFFF;
    border-bottom: 1px #666666 solid;
    margin-bottom: 0px;
}

main section.carrito{
    border-top: 0px;
    border: 1px #666666 solid;
}

main section.carrito{
    display: flex;
    width: 90%;
}

main section.carrito div.imagenA{
    display: flex;
    width: 20%;
}

main section  img{
    width: 100%;
}

main section.carrito div.cajaDescripciones{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 100%;
}

main section.carrito p{
    display: flex;
    color: #FFFFFF;
    
}


main section.carrito p.descripcion{
    margin-left: 5px;
    margin-bottom: 0px;
    width: 50%;
}

main section.carrito p.cancel{
    margin-bottom: 0px;
    width: 40%;
}

main section.carrito p.precio{
    margin-bottom: 0px;
    width: 40%;
}