/*mobile*/
body{
	background: #131313;
    display: flex;
    flex-direction: column;
    min-height: 400px;
	margin: 0;
	width: 100%;
}

h2.title{
	color: #6249c8;
	line-height: 30px;
    margin: 0 0 3px;
    padding: 10px 0;
    text-align: center;
	font-size: 30px;
}

/*seccion con borders*/
section.cotentForm{
	text-align: center;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	border: 2px solid #6249c8;
  	border-radius: 20px;
}

.FormLogin{
	width: 90%;
	color: #a1a1a1;
	
}

/*clase inputs*/
input.inputForms{
	color: white;
	width: 60%;
	padding: 20px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
    border-bottom: 2px solid #6249c8;
	background: none;
	transition: ease-in-out, width .35s ease-in-out;
}


/*Animacion input*/
input.inputForms:focus-visible{
	outline: none;
	border-bottom: 2px solid #6249c8;
	width: 90%;
}

/*para type='email'*/
input:valid {
	color: #4CAF50;
  }
input:invalid {
	color: rgb(175, 23, 23);
  }

/*Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #4CAF50;
  -webkit-box-shadow: 0 0 0px 1000px #131313 inset;
  transition: background-color 5000s ease-in-out 0s;
}


/*contiene boton y checkbox*/
.form-flex{
	display: flex;
	color: white;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 10%;
	margin-bottom: 10%;
	justify-content: space-between;
}

/*checkbox*/
input:checked + label {
	color: #4CAF50;
	
  }

div#recordarPass{
	display: flex;
	width: 40%;
	margin-right: 5%;
	align-items: center;
    flex-direction: row;
}

.bottonSubmit{
  background-color: #131313; /* Green */
  border: 2px solid #2700b3;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  transition-duration: 0.4s;
  width: 50%;
}
.bottonSubmit:hover {
	background-color: #2700b3; /* Green */
	color: white;
	width: 50%;
  }

  li{
	color: red
}

/*Deskopt*/
@media (min-width: 1024px){

	input.inputForms{
		padding: 4%;
		margin-bottom: 4%;
		margin-top: 1%;
	}

	.bottonSubmit{
		padding: 20px;
		font-size: 20px;
		justify-content: center;
		margin-top: 5%;
		margin-right: 10%;
		height:0%;
		border-radius: 144px;
	}

	.form-flex{
		display: block;
		color: white;
		width: 100%;
		flex-wrap: wrap;
		margin-top: 1%;
		padding: 2%;
		margin-bottom: 2%;
	}
	
	div#recordarPass{
		display: block;
		margin-left: 10%;	
		font-size: 20px;
		margin: 0;
		align-items: center;
		margin-left: 10%;
	}
	input#remember{
		min-width: 5%;
		margin-right: 5%;
	}
	

}