/* Aquí definimos las Custom properties */
:root {
    --negro: #393939;
    --blanco: #ececec;
    --sombra-ppal: #c9c9c9;
    --sombra-sec: #ffffff;
    --borde-negro: #00000050;
    --marcado: #6249c8;
    /* Tipografía */
    --tipo-principal: Helvetica, Arial, sans-serif;
}

  /* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
:root {
    --negro: #ececec;
    --blanco: #303030;
    --sombra-ppal: #242424;
    --sombra-sec: #3c3c3c;
    --borde-negro: #FFFFFF50;
    }
}

/* --- Estilos en las etiquetas --- */
main {
    padding-bottom: 0.5%;
    box-sizing: border-box;
    border-bottom: solid 1px gray;
}

body main a{
    color: #131313;
}

body{
    background-color: #131313;
}

h2 {
    margin: 0%;
}

.sector-categorias {
    display: flex;
    justify-content: space-between;
    margin: 0.5% 0.5% 4% 0.5%;
}

.categorias {
    width: 100%;
    border: solid 1px black;
    border-radius: 6px;
    background-color: rgb(207, 207, 207);
    margin: 10px 10px 0% 10px;
}

.titulo{
    width: 100%;
    z-index: 1;
    position: relative;
    top: -49px;
    left: -1px;
    border: solid 1px gray;
    padding-bottom: 2%;
    padding-top: 1%;
    text-align: center;
    opacity: 50%;
}

.accs{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

/*CARROUSEL*/

.carrousel {
    margin: 0 auto;
    width: 90%;
    max-width: 120em;
    padding: 2em;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    /*box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;*/
    overflow: hidden;
}

.carrousel .grande {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    padding: 2em;
    transition: all 0.5s ease;
    transform: translateX(0%);
}

.carrousel .img {
    width: calc( 100% / 2 - 2em);
    min-height: 10vh;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
    background-color: #6f56d1;
}

@media (min-width: 1024px){
    .categorias{
        width: 30%;
        margin: 10px 15px 0% 15px;
        height: 800px;
    }
    .sector-categorias {
        flex-wrap:nowrap;
    }
    .categorias:hover .titulo{
        opacity: 100%;
        border: solid 1px #131313;
    }
    .categorias:hover{
        box-shadow: 0px 20px 100px rgb(77, 77, 77);
    }
    .categorias:hover .titulo {
        background-color: #6249c8   
    }
}