h1{
    margin: 0;
}

p{
    margin: 0;
}

.buzo{
    width: 512px;
    height: 512px;
}

.zapas{
    width: 48px;
    height: 48px;
}

.alinear{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.list-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.7rem;
    padding-left: 1.5rem;
}

.article{
    width: 33%;
    display: flex;
    align-items: center;
    text-align: center;
}
