body{
    margin: 0%;
    background-color: #131313;
}

#logo img{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 0px;
}

main{
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main section.titular{
    width: 100%;
    display: flex;
    justify-content: center;
}

main section div.titular{
    width: 50%;
    border-bottom: 0px;
}

main section.titular h3.titular{
    display: block;
    max-width: 60.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    color: #131313;
    border-bottom: 1px #131313 solid;
    margin-bottom: 0px;
}

main section.bolsaDeCompras {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: #131313 1px solid;
    width: 96%;
    padding-bottom: 5%;
}

main section.carrito{
    border-top: 0px;
    border: 1px #131313 solid;
}

main section.carrito{
    display: flex;
    width: 90%;
    margin-bottom: 10px;
}

main section.carrito div.imagenA{
    display: flex;
    width: 20%;
}

main section  img{
    width: 100%;
}

main section.carrito div.cajaDescripciones{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 0px;
    width: 100%;
}

main section.carrito p{
    display: flex;
    color: #131313;
    
}


main section.carrito p.descripcion{
    margin-left: 5px;
    margin-bottom: 0px;
    width: 50%;
}

main section.carrito p.cancel{
    margin-bottom: 0px;
    width: 40%;
}

main section.carrito p.precio{
    margin-bottom: 0px;
    width: 40%;
}

main section.pago{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 96%;
    margin-bottom: 10px;
    color: #131313;
    border-bottom: #131313 1px solid;
}

main section.pago div{
    width: 50%;    
}
