<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleIndex.css">
    <script src="https://kit.fontawesome.com/9f9a3d7540.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header') %>

    <main>
        <section class="sector-categorias">
            <article class="categorias">
                <a href="/products">
                    <img src="/images/calzado.jpg" alt="calzado.jpg" class="accs">
                    <div class="titulo">
                        <h2>CALZADO</h2>
                    </div>
                </a>
            </article>

            <article class="categorias">
                <a href="">
                    <img src="/images/remera_ind.jpg" alt="vestimenta.jpg" class="accs">
                    <div class="titulo">
                        <h2>VESTIMENTA</h2>
                    </div>
                </a>
            </article>

            <article class="categorias">
                <a href="">
                    <img src="/images/accesorios.jpg" alt="accesorios.jpg" class="accs">
                    <div class="titulo">
                        <h2>ACCESORIOS</h2>
                    </div>
                </a>
            </article>
        </section>

        <div class="carrousel">
            <div class="grande">
                <img src="#" alt="Imagen 1" class="img">
                <img src="#" alt="Imagen 2" class="img">
            </div>

            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
            </ul>
        </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %>

    <script src="/jsValidations/js-front-index.js"></script>
</body>
</html>