<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleCart.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  <!-- Fuentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /><!-- Logos -->
    <title>ProductCart</title>
</head>
<body>
    <header>
        <section>
            <div  class="burger-menu">
                    <i class="fas fa-bars"></i>
            </div>
            <h3>CARRITO</h3>
        </section>
        <section>
            <div id="logo">
                <img src="images\árbol-blanco-en-fondo-negro-91451169.jpg">
            </div>
        </section>
    </header>

    <main>
        
        <section class="titular">
            <div>
                <h3 class="titular">BOLSA DE COMPRAS</h3><br>
            </div>
        </section>
        
        <section class="bolsaDeCompras">
            <section class="carrito">
                
                <div class="imagenA">
                    <img src="\images\buzos-4.jpg">
                </div>
                <div class="cajaDescripciones">
                    <p class="descripcion">BUZO NEGRO TALLE XL</p>
                    <p class="cancel">X</p>
                    <p class=" precio">$10000</p>
                </div>

            </section>

            <section class="carrito">
                
                <div class="imagenA">
                    <img src="\images\buzos-4.jpg">
                </div>
                <div class="cajaDescripciones">
                    <p class="descripcion">BUZO NEGRO TALLE XL</p>
                    <p class="cancel">X</p>
                    <p class=" precio">$10000</p>
                </div>

            </section>
        </section>

        <section class="pago">
            <div>
                <h4 class="titular"> SUBTOTAL:</h4>
            </div>
            <div>
                <h4 class="titular">$20000</h4>
            </div>
            <div>
                <h4 class="titular">ENVIO</h4>
            </div>
            <div>
                <h4 class="titular">$1000</h4>
            </div>
            <div>
                <h4 class="titular">TOTAL</h4>
            </div>
            <div>
                <h4 class="titular">$21000</h4>
            </div>
        </section>

    </main>

    <footer>
        FOOTER
    </footer>
</body>
</html>