<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleDetail.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <title>Product Detail</title>
</head>

<body>
    <header>
        <div>
            <img src="ublic/images/logo-ejemp.png">
            <input type="text" placeholder="Buscar">
            <a>INICIAR SESIÓN</a>
            <a>CARRITO</a>
        </div>

        <nav>
            <ul>
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Ropa</a></li>
                <li><a href="#">Promociones</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>