<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleCart.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  <!-- Fuentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /><!-- Logos -->
    <title>ProductCart</title>
</head>
<body>
    <header>
        <section>
            <div  class="burger-menu">
                    <i class="fas fa-bars"></i>
            </div>
            <h3>CARRITO</h3>
        </section>
        <section>
            <div id="logo">
                <img src="images\árbol-blanco-en-fondo-negro-91451169.jpg">
            </div>
        </section>
    </header>

    <main>
        <section>
            <article>
                <div>a</div>
            </article>
        </section>

        <section class="carrito">
            <article>
                aasd
            </article>
        </section>

    </main>

    <footer>
        FOOTER
    </footer>
</body>
</html>