<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleDetail.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <title>Product Detail</title>
</head>

<body>
    <header>
        <div>
            <img class="logo" src="images/header/logo-ejemp.png">
        </div>

        <div>            
            <nav>
                <ul>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="nav-register">
            <nav>
                <ul>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                </ul>
            </nav>

            <div>
                <img class="bolsa" src="images/header/bolsa-de-la-compra.png">
            </div>
        </div>
    </header>

    <main>
        <p>What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has 
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took 
                a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                but also the leap into electronic typesetting, remaining essentially unchanged. It was 
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                passages, and more recently with desktop publishing software like Aldus PageMaker including versions 
                of Lorem Ipsum.</p>
    </main>

    <footer>
        <section class="footer-sections">
            <div class="form-contact text-align">
                <div class="margin">
                    <i>¿Tienes una consulta para hacernos? Escríbenos y te contactaremos a la velocidad de la luz!</i>
                </div>

                <form>
                    <div class="form-margin">
                        <input type="text" name="email" placeholder="E-mail"><br>
                    </div>
                    <div class="form-margin">
                        <input type="text" name="message" placeholder="Consulta"><br>
                    </div>
                    <div class="text-align">
                        <button class="button" type="submit" name="submit">Enviar</button>
                    </div>
                </form>
            </div>
    
            <div>
                <ul>
                    <li><a href="#" class="info"> ¿Quieres saber como comprar? </a></li>
                    <li><a href="#" class="info"> Envíos, cambios y devoluciones </a></li>
                    <li><a href="#" class="info"> Nuestros locales </a></li>
                    <li><a href="#" class="info"> Términos y condiciones </a></li>
                </ul>
    
                <div class="socialnet-margin text-align">
                    <h4>Puedes encontrarnos en</h4>
    
                    <div class="social-network">
                        <img src="images/footer/facebook.png">
                        <img src="images/footer/instagram.png">
                        <img src="images/footer/twitter.png">
                    </div>
                </div>            
            </div>
        </section>

        <section>
            <div class="text-align footer-copyright">
                <p>Copyright © 2022 Tommy - Tienda de Ropa. Todos los derechos reservados.
                    Creado por RLeaf</p>
            </div>
        </section> 
    </footer>
</body>
</html>