<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/styleDetail.css" rel="stylesheet">
    <title>Product Detail</title>
</head>

<body>
    <header>
        <div>
            <img class="logo" src="images/header/logo-ejemp.png">
        </div>

        <div>            
            <nav>
                <ul>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><img class="lupa" src="images/header/lupa.png"></li>
                </ul>
            </nav>
        </div>
        
        <div class="nav-register">
            <nav>
                <ul>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                </ul>
            </nav>

            <div>
                <img class="bolsa" src="images/header/bolsa-de-la-compra.png">
            </div>
        </div>
    </header>
</body>
</html>