<header>
    <section class="mobile">
        <div  class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <%if (numero == 0) {%>
            <%=titulos[0]%>
        <%} %>
        <%if (numero == 1) {%>
            <%=titulos[1]%>
        <%} %>
        <%if (numero == 2) {%>
            <%=titulos[2]%>
        <%} %>
    </section>

    <section class="mobile">
        <div id="logo">
            <i class="fa-solid fa-shirt"></i>
        </div>
    </section>
    
    <div class="desktop">
        <div>
            <img class="logo" src="images/header/logo-ejemp.png">
        </div>

        <div>            
            <nav>
                <ul>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="nav-register">
            <nav>
                <ul>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                </ul>
            </nav>

            <div>
                <img class="bolsa" src="images/header/bolsa-de-la-compra.png">
            </div>
        </div>
    </div>
</header>