<header>
    <section class="mobile">
        <div>
            <img class="menu-mobile" src="../../images/header/menu.png">
        </div>

        <div>
            <img class="logo-mobile" src="../../images/header/logo.png">
        </div>

        <div>
            <img class="bolsa-mobile" src="../../images/header/bolsa-de-compra.png">
        </div>
        <!--asd-->
        
    </section>

    <section class="desktop">
        <div>
            <a href="/"><img class="logo-desktop" src="../../images/header/logo.png"></a>
        </div>

        <div>            
            <nav>
                <ul>
                    <li><a href="#">Nuevos Ingresos</a></li>
                    <li><a href="#">Indumentaria</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="login-register">
            <nav>
                <ul>
                    <% if(typeof email !== 'undefined') {%>
    
                        <li><p style="color: white;"><%= email%></h1>   </p></li>
                    <% } %>

                    <% if(typeof email == 'undefined') {%>
                        <li><a href="/register">Registrarse</a></li>
                        <li><a href="/login">Iniciar sesión</a></li>
                    <% } %>
                </ul>
            </nav>

            <div>
                <a href="/carrito"><img class="bolsa-desktop" src="../../images/header/bolsa-de-compra.png"></a>
            </div>
        </div>
    </section>
</header>