<header>
    <section class="mobile">
        <div>
            <img class="menu-mobile" src="images/header/menu.png">
        </div>

        <div>
            <img class="logo-mobile" src="images/header/logo.png">
        </div>

        <div>
            <img class="bolsa-mobile" src="images/header/bolsa-de-compra.png">
        </div>

        <!-- <%if (numero == 0) {%>
            <%=titulos[0]%>
        <%} %>
        <%if (numero == 1) {%>
            <%=titulos[1]%>
        <%} %>
        <%if (numero == 2) {%>
            <%=titulos[2]%>
        <%} %> -->
    </section>

    <section class="desktop">
        <div>
            <img class="logo-desktop" src="images/header/logo.png">
        </div>

        <div>            
            <nav>
                <ul>
                    <li><a href="#">Nuevos Ingresos</a></li>
                    <li><a href="#">Indumentaria</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="login-register">
            <nav>
                <ul>
                    <li><a href="#">Registrarse</a></li>
                    <li><a href="#">Iniciar sesión</a></li>
                </ul>
            </nav>

            <div>
                <img class="bolsa-desktop" src="images/header/bolsa-de-compra.png">
            </div>
        </div>
    </section>
</header>