<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/productsForms.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  <!-- Fuentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /><!-- Logos -->
    <script src="https://kit.fontawesome.com/9f9a3d7540.js" crossorigin="anonymous"></script>

</head>
<body>
	
	<%- include('../partials/header') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h1 class="products-title">Formulario de creación de productos</h1>
			</div>
		</div>
		<div class="col-12">
			<form action="/products" method="post" enctype="multipart/form-data" class="formCreate"> <!--Permite enviar un form con archivo adjunto por el enctype-->
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="number" step="0.01" id="price" name="price" placeholder="Ej: 5678" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="number" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="image" class="form-label">Imagen:</label>
						<input type="file" id="image" name="image" placeholder="SUBIR FOTO" class="form-input"><!--Carga de un solo archivo-->
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="zapatillas">Zapatillas</option>
							<option value="indumentaria">Indumentaria</option>
							<option value="accesorios">Accesorios</option>
						</select>
					</div>
					<div class="col-12 col-md-6">
						<label for="colors" class="form-label">Color/es:</label>
						<input type="text" id="color" name="color" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="size" class="form-label">Talle:</label>
						<input type="text" id="size" name="size" class="form-input">
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input"></textarea>
					</div>
					<div class="col-12 col-md-6">
						<label for="brands" class="form-label">Marca:</label>
						<input type="text" id="brand" name="brand" class="form-input">
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
		<div  class="bar errors">
			<ul></ul>
		</div>
	
	</div>
	<!-- /todos los productos -->
	<script src="/jsValidations/validationCreate.js">
        
    </script>
	<%- include('../partials/footer') %>
</body>	
</html>