<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styleAdminProducts.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styleIndex.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  <!-- Fuentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /><!-- Logos -->
    <script src="https://kit.fontawesome.com/9f9a3d7540.js" crossorigin="anonymous"></script>
    <title>Creacion de Productos</title>
</head>
<body>
	

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/products" method="POST" enctype="multipart/form-data"> 
				<h6 style="color: black; margin: 1%;">Nombre del producto</h6>
			    <input type="text" id="name" name="name">
			    <h6 style="color: black; margin: 1%;">Descripcion</h6>
			    <input type="text" id="description" name="description">
			    <h6 style="color: black; margin: 1%;">Seleccione imagen</h6>
			    <input type="file" id="image" name="image" placeholder="Agregar foto" />
			    <h6 style="color: black; margin: 1%;">Categoría</h6>
			    <input type="text" id="category" name="category">
			    <h6 style="color: black; margin: 1%;">Colores</h6>
			    <input type="text" id="colors" name="colors">
			    <h6 style="color: black; margin: 1%;">talle</h6>
			    <input type="text" id="tall" name="tall">
			    <h6 style="color: black; margin: 1%;">Precio</h6>
			    <input type="number" step="0.01" id="price" name="price">
			    <br>
			    <input type="submit" value="Crear">
			</form>
		</div>

	</div>
	<!-- /todos los productos -->


</body>	
</html>