<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleLogin.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  <!-- Fuentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /><!-- Logos -->
   
    <title>Login</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <h2 class="title">My account</h2>
	<section class="cotentForm">
        <% if (typeof err != 'undefined') { %>
         <p class="feedback" style="color: red"><%= err %></p>
         <% } %>

        <form action="/" method="POST" class="FormLogin">
            
     	    <div class="email">
     			<input class='inputForms' type="email" name="email" id="email" placeholder="Escribe tu email">
                 
     	    </div>
     	    <div class="password">
				<input class='inputForms' type="password" name="pass" id="pass"  placeholder="Escribe tu Contraseña">
     	    </div>
            
             <div class="form-flex">
                <div id="recordarPass">
                <input type="checkbox" name="remember" id="remember" value="Recordar">
                 <label for="remember" id="recordarPass">recordar contraseseña</label>       
                </div>
                 <input type="submit" class="bottonSubmit" value="Continuar">
            </div>
		</form>	
     
	</section>
        
    <div class="bar errors">
        <ul></ul>
    </div>

    <%- include('../partials/footer') %>

    <script src="/jsValidations/validationLogin.js">
        
    </script>
</body>
</html>