<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="css/productsForms.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="css/styleRegister.css">
	<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  <!-- Fuentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" /><!-- Logos -->
    <script src="https://kit.fontawesome.com/9f9a3d7540.js" crossorigin="anonymous"></script>

</head>
<body>
	
	<%- include('../partials/header') %>

	<div class="row">
		<div class="col-12">
			<h2 class="title">Registro de usuarios</h1>
		</div>
	</div>
	<section class="cotentForm">
		
		<div class="col-12">
			<div class="errores">
				<ul></ul>
			</div>
			<form class="register" action="/register" method="post" enctype="multipart/form-data"> <!--Permite enviar un form con archivo adjunto por el enctype-->
				<div class="row product-detail">
					<div class="contiene2">
						<input type="text" id="name" class="rellenar inputForms" name="name" placeholder="Nombre y Apellido" class="form-input">
						<input type="text" id="lastName" class='inputForms' name="lastName" placeholder="Nombre de usuario" class="form-input">
					</div>
					<div class="contiene2">
						<input type="email" id="email" class="rellenar inputForms" name="email" placeholder="Email" class="form-input">
						<input  type="password" id="password" class='inputForms' name="password" class="form-input" placeholder="Contraseña" />
					</div>
                    <div class="contiene2">
						<input  type="password_confirm" id="password_confirm" class="rellenar inputForms" name="password_confirm" class="form-input" placeholder="Confirme contraseña" />
						<div class="file-select" id="src-file1" >
							<input type="file" accept='image/x-png,image/jpeg' id="image" class='inputForms probando' name="image" placeholder="Foto de perfil" class="form-input"><!--Carga de un solo archivo-->
						</div>
					</div>

					
					<div class="col-12">
						<button type="submit" class="bottonSubmit">registrar usuario</button>
					</div>
				</div>
			</form>
		</div>

	</section>
	<!-- /todos los productos -->

	<%- include('../partials/footer') %>

	<script src="/jsValidations/js-front-validation.js"></script>
</body>	
</html>